@media screen and (max-width:991px) {
    .home-page-content-image {
        width: 100%;
    }

    .home-page-content-text {
        width: 100%;
        padding: 15px;
    }

    .home-page-content-text p {
        font-size: 15px;
    }

    .copyright p {
        font-size: 15px;
    }

    /* Pages CSS Start */
    .pages-intro {
        padding: 40px 10px;
    }

    .pages-intro-wrapper p {
        font-size: 15px;
    }

    .pages-cards:last-child {
        width: 70%;
    }

    .after-cards-text-wrapper p {
        font-size: 15px;
    }

    /* Pages CSS End */


    /* Cookies CSS Start */
    #cookie-bar button {
        float: left;
        padding: 7px 15px;
        font-size: 14px;
        font-weight: 600;
    }

    #cookie-bar p {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    #contentcookie {
        padding: 20px 10px;
        width: 100%;
    }

    /* Cookies CSS End */
}




@media screen and (max-width:767px) {
    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #fcebdd;
        transform: translateY(100%);
        transition: all 0.2s linear;
        z-index: 50;
        justify-content: flex-start;
        color: #fff;
    }

    .main-navbar ul {
        flex-direction: column;
        z-index: 50;
        width: 100%;
        gap: 0;
        justify-content: flex-start;
        padding: 50px 10px;
    }

    .main-navbar ul li a:hover {
        color: #163a68;
    }

    .menuToggle .main-navbar {
        transform: translateY(0);
    }

    .logo img {
        width: 100%;
    }

    .main-navbar ul li a {
        line-height: 20px;
    }


    .main-navbar .dropdown-arrow {
        display: none;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #163a68;
        text-align: end;
        z-index: 51;
    }

    .menu-icon {
        display: block;
    }

    .desktop-menu .social-icons {
        display: none;
    }

    .desktop-hidden-menu {
        display: block;
    }

    .mobile-menu-hide {
        display: none;
    }

    .desktop-menu {
        justify-content: space-between;
        z-index: 100;
        width: 100%;
    }

    .desktop-menu-option-hide {
        display: block;
    }

    .banner-image {
        height: 370px;
    }

    .home-page-cards-info {
        padding: 0px 10px;
    }

    .home-page-cards-info h2 {
        font-size: 25px;
    }

    .cards-btn {
        padding: 9px 15px;
        font-size: 14px;
        font-weight: 300;
    }

    .home-page-content-text p {
        font-size: 14px;
    }

    .footer {
        padding: 30px 0;
    }

    .copyright p {
        font-size: 14px;
    }

    /* Pages CSS Start */
    .banner-image {
        height: 340px;
    }

    .pages-intro {
        padding: 35px 5px;
    }

    .pages-intro-wrapper p {
        font-size: 14px;
    }

    .pages-cards:last-child {
        width: 100%;
    }

    .pages-cards-image {
        height: 240px;
    }

    .pages-cards-content h3 {
        font-size: 20px;
    }

    .btn-darkred-block,
    .pages-link-btn {
        min-width: 100px;
        font-size: 15px;
        font-weight: 500;
        padding: 9px 5px;
    }

    .after-cards-text-wrapper p {
        font-size: 14px;
    }

    /* Pages CSS End */


    /* Cookies CSS Start */
    #cookie-bar button {
        font-size: 13px;
    }

    #cookie-bar p {
        font-size: 13px;
    }

    /* Cookies CSS End */
}

@media screen and (max-width:575px) {
    .banner-image {
        height: 300px;
        width: 100%;
    }


    .home-page-content-text p {
        font-size: 13px;
    }

    .home-page-cards-info h2 {
        font-size: 25px;
    }

    .home-page-cards-info p {
        font-size: 14px;
        font-weight: 500;
    }






    .pages-cards {
        width: 100%;
    }



    .footer-items {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-items h3 {
        font-size: 22px;
    }

    .footer .footer-links ul li a {
        font-size: 14px;
        font-weight: 500;
    }

    .copyright p {
        font-size: 13px;
    }

    /* Pages CSS Start */
    .banner-image {
        height: 280px;
    }

    .pages-cards-image {
        height: 250px;
    }

    .pages-intro {
        padding: 30px 5px;
    }

    .pages-intro-wrapper p {
        font-size: 13px;
    }

    .pages-cards-content {
        padding: 10px 7px;
    }

    .btn-darkred-block,
    .pages-link-btn {
        padding: 9px 0px;
        font-size: 14px;
        font-weight: 500;
    }




    .after-cards-text-wrapper p {
        font-size: 13px;
    }

    /* Pages CSS End */


    /* Cookies CSS Start */
    #cookie-bar p {
        font-size: 13px;
    }

    /* Cookies CSS End */

}

@media screen and (max-width:480px) {
    .banner-image {
        height: 250px;
    }

    .banner-text h1 {
        font-size: 30px;
    }

    .home-page-content-text p {
        font-size: 12px;
    }

    .home-page-cards-info h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .home-page-cards-info p {
        font-size: 12px;
        font-weight: 400;
    }

    .cards-btn {
        padding: 7px 13px;
        font-size: 13px;
    }


    .footer-items {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-items h3 {
        font-size: 20px;
    }

    .footer-items:last-child {
        margin-bottom: 0;
    }

    .copyright p {
        font-size: 12px;
    }

    /* Pages CSS Start */
    .banner-image {
        height: 220px;
    }

    .pages-cards-image {
        height: 190px;
    }

    .pages-intro-wrapper p {
        font-size: 12px;
    }

    .btn-darkred-block,
    .pages-link-btn {
        padding: 8px 0px;
        font-size: 14px;
        font-weight: 500;
    }

    .pages-cards-content h3 {
        font-size: 18px;
    }



    .after-cards-text-wrapper p {
        font-size: 12px;
    }

    /* Pages CSS End */


}