@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #f6f6f6;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
     font-family: "Cinzel", serif; 
     /* font-family: "Roboto", sans-serif; */
      }
  
  p {
    font-weight: 500;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  button,input,textarea{
    font-family: "Roboto", sans-serif;
  }
  
  img {
    max-width: 100%;
    object-fit: cover;
  }
  
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }
  /* colors
  #99cdd8
  #EAD5C3
  #DCB0A0

#070C1B
#caa195

  #4b6382
  #a68868 */
  
  /* 
    Global CSS End */

    /*Header CSS Start */
.logo img {
    width: 80%;
    height: 100%;
    text-align: center;
    max-width: 250px;
        vertical-align: middle;
    padding: 5px 0;
  }
  
  .logo a {
    display: inline-block;
    height: 100%;
  }
  
  .site-header .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .main-navbar ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .main-navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  .desktop-menu-option-hide {
    display: none;
  }
  
  .social-icons .menu-social-icons i:hover {
    background: #4b6382;
    transform: scale(1.1) rotateY(360deg);
  }
  
  .main-navbar ul li {
    position: relative;
    /* For dropdown menu */
  }
  .logo , .desktop-menu  .social-icons{
    width: 25%;
 }
 .desktop-navlist{
    width: 100%;
 }
  
  .main-navbar ul li a {
    font-size: 1rem;
    padding: 10px;
    display: inline-block;
    color: #545556;
    line-height: 42px;
    transition: 0.5sec all ease-in;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .main-navbar ul li a.active {
    color:  #4b6382;
  }
  
  .footer .footer-links ul li a.active {
    color:#99cdd8;
  }
  
  .main-navbar ul li a:hover {
    color: #fff;
    background: #4b6382;
    border-radius: 5px;
  }
  
  .close-icon {
    display: none;
  }
  
 
    .site-header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        z-index: 999;
        background-color: #EAD5C3;
    }
  
  
  /* .fixed-header {
    background-color: #fffcfc;
  } */
  .desktop-menu {
    display: flex;
    justify-content: space-between;
align-items: center;
  }
  
  .menu-icon {
    display: none;
    color: #000;
    width: 30px;
    /* height: 20px; */
    text-align: right;
    cursor: pointer;
    margin: auto 0;
  }
  
  
  /* .menu-icon i {
    display: inline-block; 
     margin: auto 0;
  } */
  /* Header CSS End */

  /* Dropdown CSS Start*/

.main-navbar .dropdown {
    background-color: #EAD5C3;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    gap: 0;
    left: -60%;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s opacity ease-in-out;
    margin: 0 auto;
    text-align: center;
  }
  
  .dropdown li {
    width: 100%;
    color: #fffcfc;
  }
  
  
  .dropdown li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-navbar .dropdown li a {
    line-height: 25px;
    width: 100%;
  }
  
  .main-navbar ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-arrow {
    margin-left: 6px;
  }
    /* Dropdown CSS End*/
  
  /* Social Icons CSS Start */
  .social-icons {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  } 
  .desktop-menu .social-icons{
    justify-content: flex-end;
  }
  .social-icons i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 17px;
    color: #fffcfc;
    background: #4b6382;
    line-height:normal;
    margin: 0 1px;
    transition: 1s all ease-in-out;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  
  .social-icons i:hover {
    transform: scale(1.1);
  }
  /* Social Icons CSS End */
  

  /* Banner Section CSS Start */
.banner {
    position: relative;
  }
  
  .banner-image {
    height: 650px;
    width: 100%;
  }
  
  .banner-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0/65%);
    background-blend-mode: multiply;
  }
  .banner-first-letter{
    font-size:75px ;
    font-family: "Cinzel", serif; 
  }
  
  .banner-text h1 {
    font-size: 55px;
    color: #fff;
    display: block;
    font-weight: 700;
    text-transform: capitalize;
  }

  
  .banner-text h2 {
    font-size: 30px;
    max-width: 800px;
    margin: 10px auto;
    color: #fff;
    text-align: center;
    font-weight: 600;
  }
  
  .banner-text-group {
    animation: goturn 2s ease-in-out forwards;
    opacity: 0;
    transform: scale(0) translateY(-300px) rotateY(0deg);
    text-align: center;
  }
  
  @keyframes goturn {
    to {
      opacity: 1;
      transform: scale(1) translateY(0) rotateY(360deg);
    }
  }
  
  /* Banner Section  CSS End */
  